.item-icons {
  height: 13rem;
  width: 23rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 5% 40% 5% 5%;
  padding: 3rem;
  margin: 3rem;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
    padding-top: 2rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: hsl(229, 57%, 11%);
      width: 3rem;
      height: 3rem;
      border-radius: 5px;
    }
  }
}
