.left {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    100% 73%,
    100% 100%,
    76% 75%,
    0% 75%
  );
  background: $PaleBlue;
  color: $GrayishBlue;
  width: 11rem;
  height: 6rem;
  border-radius: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.9rem;
  position: absolute;
  right: 90px;
  top: -40px;
  text-transform: uppercase;
  font-weight: 700;
  span {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(229, 57%, 11%);
  }
}
