.item-progress {
  background-color: hsl(228, 56%, 26%);
  color: hsl(229, 7%, 55%);
  width: 43rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: inherit;
  border-radius: 10px;
  margin-top: 2.8rem;
  position: relative;

  p {
    font-weight: 400;
  }
  span {
    font-weight: 700;
    color: white;
  }
  progress {
    -webkit-appearance: none;
    width: 33rem;
    margin-top: 2rem;
  }

  progress::-webkit-progress-bar {
    background: hsl(229, 57%, 11%);
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background: linear-gradient(
      90deg,
      rgb(218, 182, 132) 40%,
      rgb(253, 110, 44) 100%
    );
    border-radius: 10px;
  }
  .perc {
    display: flex;
    justify-content: space-between;
    width: 33rem;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.5rem;
    color: white;
  }

  .left {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      100% 73%,
      100% 100%,
      76% 75%,
      0% 75%
    );
    background: hsl(240, 10%, 94%);
    color: hsl(229, 7%, 55%);
    width: 11rem;
    height: 6rem;
    border-radius: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
    position: absolute;
    right: 90px;
    top: -40px;
  }
  .left span {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(229, 57%, 11%);
  }
}
